li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  height: 65px;
  background-color: #rgba(255, 0, 0, 0.5);
}

.header-logo {
  float: left;
}

.header-logo img {
  width: 124px;
  padding: 20px 0;
}

.header-list li {
  font-size: 15px;
  float: left;
  padding: 33px 20px;
}
